#app{
    width:100vw;
    background-color:whitesmoke;
    margin: auto;
    text-align: center;
}

.box{
    width:500px;
    height:600px;
    background-color: white;
    display:inline-block;
    margin:20px;
    border-radius: 15px;
}

#title{
    position: relative;
    height:150px;
    width:100vw;
    background-image: url(/imgs/specsbg.jpg);
    background-position: center;
    margin-bottom: 100px;
    padding-top:100px;
    font-size: 35px;
    font-family: "Lato", sans-serif;
    background-attachment: fixed;
    line-height: 0.8em;
    font-weight: 400;
    letter-spacing: 8px;

}

#box1{
    background-image: url(../imgs/sample1.2.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
#box2{
    background-image: url(../imgs/sample3.1.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
#box3{
    background-image: url(../imgs/Asset%202.svg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
#box4{
    background-image: url(../imgs/Asset%203.svg);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
#box5{
    background-image: url(../imgs/styleguide.svg);
    background-size:contain;
    background-position:top;
    background-repeat: no-repeat;
}
#box6{
    background-image: url(../imgs/raster1.png);
    background-size:contain;
    background-position:top;
    background-repeat: no-repeat;
}
#box7{
    background-image: url(../imgs/raster2.png);
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
}
#box8{
    background-image: url(../imgs/raster3.png);
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
}

#footer{
    height:150px;
}
.box{
    transition: transform 0.3s;
}


.box:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px gray ;
}  


#footer{
    height:100px;
    width:100vw;
    background-color: #262626;
    margin-top:100px;
}

